# Dismilarity (Tugas 1)

Mengukur jarak (dissimilarity)
1. Ambil data dari Kaggle atau GitHub
2. Ukur jarak 
d(1,2), d(1,3), d(1,4) dari data tersebut

## Disimilarity

Dalam peambangan data yang pengaplikasian yang sering digunakan adalah clustering. pada teknik ini perlu untuk menemukan seberapa mirip atau tidaknya data. Salah satu cara yaitu dengan menggunakan Dismilarity

Import modul

In [ ]:
import pandas as pd
import math

Get Dataset

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Wing-Dimas/datamining/main/House_Rent_Dataset.csv")

In [ ]:
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

ambil sample data

In [ ]:
data_sample = df[["Rent", "Size", "Area Type", "City", "Furnishing Status"]][0:2048:512].reset_index(drop=True)
data_sample

     Rent  Size    Area Type       City Furnishing Status
0   10000  1100   Super Area    Kolkata       Unfurnished
1    5000   400  Carpet Area    Kolkata       Unfurnished
2  140000  1000  Carpet Area     Mumbai    Semi-Furnished
3   50000  1280  Carpet Area  Bangalore         Furnished

## Mencari dimilarity data nominal

In [ ]:
def d1(i,j):
    P = 3
    M = 0
    for col in ["Area Type", "City", "Furnishing Status"]:
        if data_sample[col][i] == data_sample[col][j]:
            M += 1

    return (P-M)/P

In [ ]:
print(d1(0,1))
print(d1(0,2))
print(d1(0,3))

0.3333333333333333
1.0
1.0

## Mencari disimilarity data numerik

In [ ]:
def d2(i,j, h):
    result = 0
    for col in ["Rent", "Size"]:
        result = math.pow(abs(data_sample[col][i] - data_sample[col][j]), h)
    return result**(1/h)

Manhattan distance

In [ ]:
print(d2(0,1,1))
print(d2(0,2,1))
print(d2(0,3,1))

700.0
100.0
180.0

Euclidean distance

In [ ]:
print(d2(0,1,2))
print(d2(0,2,2))
print(d2(0,3,2))

700.0
100.0
180.0